ipykernel==7.2.0
ipython==9.10.0
jupyter_client==8.8.0
jupyter_core==5.9.1

numpy==2.4.3
pandas==3.0.2
scipy==1.17.1

scikit-learn==1.8.0
lightgbm==4.7.0
xgboost==3.3.0

matplotlib==3.10.8
seaborn==0.13.2

joblib==1.5.3
